<h1>Active Tickets</h1>

<table style="border-spacing: 1em 1em">
	<tr>
		<th>Source Address</th>
		<th>Transaction Hash</th>
		<th>Amount</th>
		<!--
		<th>Spent?</th>
		-->
	</tr>

<% @active_tickets.each do |ticket| %>
	<tr>
		<td><%= ticket.source_address %></td>
		<td><%= ticket.transaction_hash %></td>
		<td><%= ticket.amount %></td>
		<!--
		<td><%= ticket.spent ? 'Y' : 'N' %>
		-->
	<tr>
<% end %>

</table>

<%= form_tag("/winner", method: "get") do %>
	<%= submit_tag("Spin!", style: "margin-top: 50px; margin-left: 200px; width: 90px; background-color: blue; color: gold;") %>
<% end %>
